# Ignore compiled Python files
*.pyc

# Ignore virtual environment directory
gm/

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.pot
__pycache__/
local_settings.py
db.sqlite3
media