/* Existing styles */

nav {
    text-align: center;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section h2 {
    color: #333;
}

section p {
    color: #555;
    line-height: 1.5;
    margin-bottom: 15px;
}

/* Additional styles for the Contact page */
form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #5cb85c;
    color: #fff;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #4cae4c;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
