body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  display: flex;
  text-align: left;
  width: auto;
}

.logo{
  margin-top: 10px;
  margin: 0 15px;
  margin-right: auto;
  
}

nav {
  margin-top: 10px;
  margin-left:  300px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  margin-left: auto;
}

.card-container {
 /* display: flex;*/
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: auto;
  padding: 20px;
  text-align: center;
  margin: 15px;
}

.card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.card h2 {
  margin-bottom: 10px;
  color: #333;
}

.card p {
  color: #666;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.icons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.icons a {
  text-decoration: none;
  color: #333;
}

.footer {
  width: auto;
  background-color: #fff;
  color: #333;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

.footer p {
  margin: 0;
  background-color: #333;
  color: #fff;
}

.footer nav {
  margin-top: 10px;
}

.footer a {
  color: #333;
  margin: 0 20px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

nav a:hover {
  text-decoration: underline;
}

.foot {
  color: #333;
  text-align: center;
  margin-left: 20px;
}
