/* static/css/Profile.css */

.profile-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
}

.profile-picture {
  border-radius: 50%;
  max-width: 150px;
  width: 100%;
}

.profile-details {
  flex-grow: 1;
  padding: 20px;
}

.profile-details h2 {
  color: #075e54; /* WhatsApp green */
  margin-bottom: 10px;
}

.profile-details p {
  margin: 8px 0;
  color: #666;
}
.logout-link {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  background-color: #075e54; /* WhatsApp green */
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
