<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fitness app{% endblock %}</title>
    {% block static %}
      {% block stylesheet %}{% endblock stylesheet %}
    {% endblock %}
</head>
{% block content %}
  <body>
  
    <header>
      {% block header %}{% endblock header %}
    </header>
    
    {% block img %} {% endblock img %}
   <!-- <img src="/static/Image/pale.jpg" alt="Background Image" class="bg-image"> -->
    <div class="content">
        {% block content_heading %}{% endblock %}
     <!--   {% block section %}{% endblock section %} -->
    </div>
  
  

    <footer>
        {% block footer %}<p>&copy; 2024 Fitness & Yoga App. All rights reserved.</p>{% endblock %}
    </footer>
  </body>
{% endblock content %}
</html>
