{% extends 'base.html' %}

{% block title %}Home - Awesome Product{% endblock %}

{% block header %}Explore Our Home Page{% endblock %}

{% block content_heading %}Welcome to Our Home Page{% endblock %}

{% block content %}
    Discover our amazing products and services designed just for you.
{% endblock %}

{% block home_link %}/home{% endblock %}
{% block about_link %}/about{% endblock %}
{% block contact_link %}/contact{% endblock %}
{% block register_link %}/register{% endblock %}
{% block login_link %}/login{% endblock %}
