{% extends "Fitness/base.html" %}
{% load static %}
{% block static %}
  {% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  {% endblock stylesheet %}
{% endblock static %}
{% block content %}
  {% block header %}
    <header>
      <div class="logo">Yoga & Fitness</div>
        <nav>
          <a href="{% url 'profile' %}">profile</a>
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'contact' %}">Contact</a>
          <a href="{% url 'about' %}">About</a>
          <a href="#community">Community</a>
          <a href="#blog">Blog</a>
        </nav>
    </header>
  {% endblock header %}

  <div class="card-container">
    <div class="card">
      <img src="your-image-url1.jpg" alt="Card Image 1">
      <h2>Title 1</h2>
      <p>Description of the card content 1.</p>
      <div class="icons">
        <a href="login" title="Icon 1"><img src="icon1.png" alt="Icon 1"></a>
        <a href="#" title="Icon 2"><img src="icon2.png" alt="Icon 2"></a>
        <a href="#" title="Icon 3"><img src="icon3.png" alt="Icon 3"></a>
      </div>
      <a href="#" class="btn">Learn More</a>
    </div>

    <div class="card">
      <img src="your-image-url2.jpg" alt="Card Image 2">
      <h2>Title 2</h2>
      <p>Description of the card content 2.</p>
      <div class="icons">
        <a href="#" title="Icon 1"><img src="icon1.png" alt="Icon 1"></a>
        <a href="#" title="Icon 2"><img src="icon2.png" alt="Icon 2"></a>
        <a href="#" title="Icon 3"><img src="icon3.png" alt="Icon 3"></a>
      </div>
      <a href="#" class="btn">Learn More</a>
    </div>

    <div class="card">
      <img src="your-image-url3.jpg" alt="Card Image 3">
      <h2>Title 3</h2>
      <p>Description of the card content 3.</p>
      <div class="icons">
        <a href="#" title="Icon 1"><img src="icon1.png" alt="Icon 1"></a>
        <a href="#" title="Icon 2"><img src="icon2.png" alt="Icon 2"></a>
        <a href="#" title="Icon 3"><img src="icon3.png" alt="Icon 3"></a>
      </div>
      <a href="#" class="btn">Learn More</a>
    </div>
  </div>


  {% block footer %}
    <footer class="footer">
      <p>&copy; 2024 Yoga & Fitness App. All rights reserved.</p>
        <nav class="links">
          <h3><a href="#about" class="foot">About Us</a></h3>
          <h3><a href="#contact"class="foot">Contact</a></h3>
          <h3><a href="#terms" class="foot">Terms of Service</a></h3>
        </nav>
    </footer>
  {% endblock footer %}
{% endblock content %}

