{% extends "Fitness/base.html" %}
{% load static %}
{% block static %}
  {% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  {% endblock stylesheet %}
{% endblock static %}
{% block content %}
  <div class="login-container">
    <img src="app-logo.png" alt="Yoga & Fitness App Logo" class="app-logo">
    <h2>Login to Your Account</h2>
      <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
      </form>

    <p class="register-link">Don't have an account? <a href="{% url 'register' %}">Sign up here</a></p>
    <div class="help-section">
        <p>Need help?</p>
        <ul>
            <li><a href="forgot-password.html">Forgot Password?</a></li>
            <li><a href="{% url 'contact' %}">Contact Support</a></li>
        </ul>
    </div>
  </div>
{% endblock content %}

